.desss {
  color: black !important;
  margin-left: 500px !important;
  background-color: aqua !important;
  border-radius: 50px !important;
}
.monta {
  background-color: white !important;
  margin-left: 0px;
  padding: 0px;
}
.dess {
  color: blue !important;
}
.design-form {
  width: 35% !important;
  margin-left: 500px !important;
  background-color: white;
  border-radius: 20px;
  margin-top: 0px !important;
}

.secon {
  display: flex;
  background-color: aquamarine;
  height: 100vh !important;
  padding-top: 20px;
 
}
.des-image{
  position: absolute;
left:12%;
right: 30%;
top: 25.9%;
bottom: -3.23%;
transform: rotate(-7.15deg);
background-image: transparent !important;
width:30%;
margin-top: 0px;

}
.des-9raya{
  position: absolute;
  color:#ff3385;
  left:20%;
}
.acceuil {
  color: black;
  margin-left: 200px;
  margin-top: 100px;
  font-size: bold;
}
.paragra {
  font-size: x-large;
  padding-top: 20px;
}
.iimmgg {
  width: 100%;
}
.dodo {
  position: absolute;
  width: 500px;
  height: 6px;
  left: 27px;
  top: 1070px;

  background: #000000;
}
.ppaa {
  position: absolute;
  width: 100px;
  height: 15px;
  left: 530px;
  top: 1065px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
.pointt {
  position: absolute;
  width: 550px;
  height: 6px;
  left: 750px;
  top: 1070px;

  background: #000000;
}
.divv {
  display: flex;
  padding:100px;
}
.deshan{
  position: absolute;
  width: 20%;
  margin-top: -100px;
  height: 150px;
}
.desmomo{
  position: absolute;
  margin-left: 400px;
  height: 150px;
  width:20%;
  margin-top: -70px;
}
.desmeme{
  position :absolute;
  margin-left: 800px;
  height:150px;
  margin-top:-70px ;
  width: 10%;

}
.desart{
  display: flex;
  margin-left: 50px;
  color:blue !important;
}
.deseduc{
  color:blue !important;
  margin-left: 10px;
}
.despsy{
  color:blue !important;
  margin-left: 50px;
}
.desaprop{
  color:blue !important;
  margin-left: 30px;
}
.pageaprop{
  background-color: black;
  padding: 10px;
  margin-top: 100px;
  color: white;
  width: 100vh;
  display: flex;
  
 background-size: 100%;
  
}
.mb-3{
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.imgoogle{
height:15px;
width: 15px;

}
.signff{
  display:flex;

}
.sign{
 font-family: Poppins;
Font-style: Regular;
font-size: 12px;
line-height: 18px;
Line-height: 100%;
text-align: Left;
Vertical-align: Center;
margin-top: 10px;
}
.facebook{
  margin-left: 100px;
  font-family: Poppins;
  Font-style: Regular;
  font-size: 12px;
  line-height: 18px;
  Line-height: 100%;
  text-align: Left;
  Vertical-align: Center;
  margin-top: 10px;
}
.signgoogle{
  display: flex;
  
}

.desabout{
  margin-left: 100px;
  background-size: 100%;
}
.btndes{
  display:flex !important;
 
  color: black !important;
  padding-left:3px !important;
  justify-content: space-evenly ;
}
.dessuiv{
  margin-top: 10px;
  margin-left: 150px;

}
.navpsy{
  margin-left: 200px;
}
.desvideo{
  display:flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
}
.desh{
  margin-top: 100px;
  font-size:medium;
  color:deeppink;
}
.desparagg{
  margin-top:200px;
  font-size: medium;
  padding:20px;

}
.espp{
  background-color: blueviolet;
}
.nav-exercice{
  background-color: aqua !important;
  color:black !important;
  background-size: 100wh !important;
}
.navii{
  background-color: aqua !important;
  background-size: 100% 100%;
}
.create{
  margin-left: 50px;
}
.orr{
position: absolute;
width: 50px;
height: 2px;
left: 742px;
top: 203px;

background: #000000;
}
.desor{
margin-left:120px;
font-family: poppins;
margin-top: 30px;

}
.ort{
  position: absolute;
width: 50px;
height: 2px;
left: 850px;
top: 203px;

background: #000000;

}
.goolesign{
  margin-left: 100px !important;
  background-color: red;
}
.gggo{
  margin-left: 50px;
  background-color: #ff3385 !important;
}
 .sidebarr{
   background-color: #b2b2b2;
   color:black;
   height:100vh;
   width: 15%;
   font-size: x-large;
   font-family: bold;

 }